<nav class="secondary-nav">
	<div class="wrapper secondary-nav-container">
		<!-- Menu -->
		<ul class="secondary-nav-list" role="menu">
			<li><a href="#">item one</a></li>
			<li><a href="#">item two</a></li>
			<li><a href="#">item three</a></li>
			<li><a href="#">item four</a></li>
			<li><a href="#">item five</a></li>
			<li><a href="#">item six</a></li>
			<li><a href="#">item seven</a></li>
		</ul>
		<!-- CTA -->
		<ul class="secondary-nav-cta">
			<li><a class="btn-small btn-primary" href="#">Apply now</a></li>
			<li><a class="btn-small btn-secondary" href="#">Syllabus</a></li>
		</ul>
	</div>
</nav>

