<div class="wrapper">
	<!-- header -->
	<header class="site-header">
		<a class="home-link" href="/"><img class="logo" src="http://dummyimage.com/240x36/CBCBCB" alt="logo" /></a>
		<nav class="site-header-nav">
			<ul class="site-header-nav-list">
				<li class="site-header-nav-item"><a href="#">Courses</a></li>
				<li class="site-header-nav-item"><a href="#">About</a></li>
				<li class="site-header-nav-item"><a href="#">Schedule a visit</a></li>
				<li class="site-header-nav-item"><a href="#">fr</a></li>
			</ul>
			<div id="nav-trigger" class="nav-trigger-wrapper">
  			<span class="nav-trigger-icon"></span>
			</div>
			<!-- <div>yo</div> -->
		</nav>
	</header>
	<!-- slideout nav -->
	<div class="nav-overlay"></div>
	<div class="nav-container">
	  <img class="logo-badge" src="http://dummyimage.com/48x48/CBCBCB" alt="logo" />
	  <nav class="nav-content">
	    <ul class="nav-menu-list">
	      <li>Courses</li>
	      <li>Schedule a visit</li>
	      <li>About</li>
	    </ul>
	  </nav>
	</div>
	<!-- /slideout nav -->
	<h1>YOYOYO</h1>
</div>

