<ul class="social-list">
	<li class="social-list-item">
		<a href="https://www.facebook.com/decodemtl">
			<span class="social-icon fa fa-facebook-square" aria-hidden="true"></span>
			<span class="visually-hidden">Facebook</span>
		</a>
	</li>
	<li class="social-list-item">
		<a href="https://twitter.com/decodemtl">
			<span class="social-icon fa fa-twitter-square" aria-hidden="true"></span>
			<span class="visually-hidden">Twitter</span>
		</a>
	</li>
	<li class="social-list-item">
		<a href="https://www.instagram.com/decodemtl">
			<span class="social-icon fa fa-instagram" aria-hidden="true"></span>
			<span class="visually-hidden">Instragram</span>
		</a>
	</li>
	<li class="social-list-item">
		<a href="https://github.com/DecodeMTL">
			<span class="social-icon fa fa-github-square" aria-hidden="true"></span>
			<span class="visually-hidden">Github</span>
		</a>
	</li>
</ul>
