<!-- site-nav -->
{{> site-nav}}

<header class="blog-page-header">
	<div class="wrapper">
		<h1 class="module-title">Decode<span class="stand-out">Blog</span></h1>
	</div>
</header>

<main class="main-content" role="main">
	<div class="wrapper">
		<div class="module">
			<div class="module-boxed">
				<article class="entry" itemscope="" itemtype="http://schema.org/CreativeWork">
					<header class="entry-header">
						<h1 class="entry-title" itemprop="headline">Etiam porta sem malesuada magna mollis euismod.</h1>
						<div class="entry-meta">
							<span class="entry-author">By <a href="" itemprop="author" itemscope="" itemtype="http://schema.org/Person">John Smith</a> on <time class="entry-date" itemprop="datePublished" datetime="">01/22/17</time></span>
							<span class="entry-categories">Posted in <a href="#">Categorie 1</a>, <a href="#">Categorie 2</a></span>
						</div><!-- /.entry-meta -->
					</header><!-- /.entry-header -->
					<div class="entry-content" itemprop="text">
						<img src="https://unsplash.it/1200/300?image=945" alt="" class="entry-featured-image">
						<p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Donec sed odio dui.</p>

						<p>Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget <a href="#">lacinia odio sem</a> nec elit. Curabitur blandit tempus porttitor. Nullam id dolor id nibh ultricies vehicula ut id elit. Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Vestibulum id ligula porta felis euismod semper. Sed posuere consectetur est at lobortis.</p>

						<blockquote><p>Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Maecenas sed diam eget risus varius blandit sit amet non magna.</p></blockquote>

						<p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Donec sed odio dui.</p>

						<p>Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Curabitur blandit tempus porttitor. Nullam id dolor id nibh ultricies vehicula ut id elit. Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Vestibulum id ligula porta felis euismod semper. Sed posuere consectetur est at lobortis.</p>

						<h3>Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor.</h3>

						<p>Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Curabitur blandit tempus porttitor. Nullam id dolor id nibh ultricies vehicula ut id elit. Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Vestibulum id ligula porta felis euismod semper. Sed posuere consectetur est at lobortis.</p>
					</div><!-- .entry-content -->
				</article><!-- /.entry -->
			</div><!-- /.module-boxed -->
			
			<section class="author-box module-boxed module-boxed-medium" itemprop="author" itemscope="" itemtype="http://schema.org/Person">
					<div class="img-text-container profile-block">
						<div class="img-text-pic">
							<img src="../../assets/toolkit/images/profile-team-ziad.jpg" alt="">
						</div>
						<div class="img-text-details">
							<h4 itemprop="name">About John Smith</h4>
							<p class="text-body-small" itemprop="description">Mauris non tempor quam, et lacinia sapien. Mauris accumsan eros eget libero posuere vulputate. Etiam elit elit, elementum sed varius at, adipiscing vitae est.</p>
							<p class="author-links text-body-small"><a href="#">website</a> // <a href="#">twitter</a> // <a href="#">wtf</a></p>
						</div><!-- /.img-text-details -->
					</div><!-- /.img-text-container -->
			</section><!-- /.author-box -->
		</div><!-- /.module -->
	</div><!-- /.wrapper -->

	<section class="module featured-entries-container">
		<div class="wrapper">
			<article class="entry featured-entry" itemscope="" itemtype="http://schema.org/CreativeWork">
				<header class="entry-header">
					<h4 class="featured-entry-title" itemprop="headline">Etiam porta sem malesuada magna mollis euismod.</h4>
					<div class="entry-meta">
						<span class="entry-author">By <a href="" itemprop="author" itemscope="" itemtype="http://schema.org/Person">John Smith</a> on <time class="entry-date" itemprop="datePublished" datetime="">01/22/17</time></span>
					</div><!-- /.entry-meta -->
				</header><!-- /.entry-header -->
				<img src="https://unsplash.it/1200/500?image=945" alt="" class="entry-featured-image">
			</div>
		</article>
	</section>


</main>
{{> site-footer}}
{{> site-credits}}