---
layout: blog-layout
---

<!-- ========= Article =========-->
<div class="module post-module">
	<div class="wrapper">
		<article class="entry module-boxed" itemscope="" itemtype="http://schema.org/CreativeWork">
			{{> post-header}}
			{{> post-featured-image}}
		</article><!-- /.entry -->
	</div><!-- /.wrapper -->
</div><!-- /.module -->
<!-- ========= Article =========-->
<div class="module post-module">
	<div class="wrapper">
		<article class="entry module-boxed" itemscope="" itemtype="http://schema.org/CreativeWork">
			{{> post-header}}
			{{> post-featured-image}}
		</article><!-- /.entry -->
	</div><!-- /.wrapper -->
</div><!-- /.module -->
<!-- ========= Article =========-->
<div class="module post-module">
	<div class="wrapper">
		<article class="entry module-boxed" itemscope="" itemtype="http://schema.org/CreativeWork">
			{{> post-header}}
			{{> post-featured-image}}
		</article><!-- /.entry -->
	</div><!-- /.wrapper -->
</div><!-- /.module -->
{{> blog-pagination}}