---
layout: course
title: Course Layout
---

<article>
	<!-- Course Hero -->
	{{> course-hero}}

	<!-- Press logos -->
	{{> press-logos}}

	<!-- Course Overview -->
	{{> alumni-module-slim}}

	<!-- Course Curriculum -->
	{{> course-curriculum}}

	<!-- Course Tuition & Dates -->
	{{> course-tuition-dates}}

	<!-- Course Report Module -->
	{{> course-report-module}}

	<!-- Course Schedule -->
	{{> course-schedule}}

	<!-- Career Support -->
	{{> course-career-support}}

	<!-- Course FAQ -->
	{{> course-faq}}

	<!-- Partner Logos -->
	{{> partner-logos}}

</article><!-- /.article -->