{{> site-nav}}
<main class="main-content" role="main">
	<article>
		<!-- Course Hero -->
		{{> course-hero}}

		<!-- Course Overview -->
		{{> course-overview}}

		<!-- Course Tuition & Dates -->
		{{> course-tuition-dates}}

		<!-- Course Curriculum -->
		{{> course-curriculum}}

		<!-- Prep course optin -->
		{{> form-optin}}

		<!-- Course Testimonial -->
		{{> course-testimonial}}

		<!-- Course Schedule -->
		{{> course-schedule}}

		<!-- Course Instructor -->
		{{> course-instructor}}

		<!-- Student Project -->
		{{> course-project-slider}}

		<!-- Career Support -->
		{{> course-career-support}}

		<!-- Course FAQ -->
		{{> course-faq}}

	</article><!-- /.article -->
	{{> site-footer}}
	{{> site-credits}}
</main>