<!-- site-nav -->
{{> site-nav}}
<main class="main-content" role="main">
	<article>
		<!-- Home Hero -->
		{{> home-hero}}

		<!-- Schedule CTA -->
		{{> home-evolving}}

		<!-- Upcoming couses -->
		<!-- add here -->

		<!-- Testimonials -->
		{{> course-testimonial}}

		<!-- Optin -->
		{{> form-optin}}

		<!-- WeWork Slider -->
		<!-- add here -->

		<!-- Upcoming Events -->
		{{> events}}

		<!-- Partner Logos -->
		{{> partner-logos}}

	</article><!-- /.article -->
</main>
{{> site-footer}}
{{> site-credits}}