---
notes: This is the generic contact list. Add <code>.footer-contact-details</code> for the footer list and <code>.slideout-contact-details</code> for the slideout nav.
---

<ul class="contact-details-list" itemscope itemtype="http://schema.org/ContactPoint">
	<li itemscope itemtype="schema.org/PostalAddress">
		<a href="https://goo.gl/maps/RmSE1PKEiXH2">
			<span class="fa fa-map-marker fa-fw" aria-hidden="true"></span> 
			<span itemprop="streetAddress">3 Place Ville Marie,</span> 
			<span itemprop="addressLocality">Montréal,</span>
			<span itemprop="addressRegion">Québec</span> 
			<span itemprop="postalCode">H3B 2E3</span>
		</a>
	</li>  
	<li>
		<a itemprop="telephone" href="tel:1-888-511-9155"><span class="fa fa-phone fa-fw" aria-hidden="true"></span> 1-888-511-9155</a>
	</li>  
	<li>
		<a itemprop="email" href="mailto:hello@decodemtl.com"><span class="fa fa-envelope fa-fw" aria-hidden="true"></span> hello@decodemtl.com</a>
	</li>
</ul><!-- /.contact-details-list -->