<ul class="events-list">
	{{#each lists.events}}
		{{#each this}}
	<li class="text-body-small" itemscope itemtype="http://schema.org/Event">
		<a class="event-url" href="#" itemprop="url">
			<div class="event-date" itemprop="startDate">{{event-date}}</div><!-- .event-date -->
			<div class="event-name" itemprop="name">{{event-name}}</div><!-- .event-name -->
			<div class="event-description" itemprop="description">{{event-description}}<span class="event-arrow fa fa-chevron-circle-right text-body-large" aria-hidden="true"></span>
			<span class="visually-hidden">Event URL</span></div><!-- .event-description -->
		</a><!-- /.event-url -->
	</li>
		{{/each}}
	{{/each}}
</ul>