---
notes: Make sure to include all accessible markup when including icons in the tables.
---

<div class="multi-column-table">
	<div class="row">
			{{> tables.table-footnote}}
	</div>
	<div class="row full">
		<div class="cell">July 4th—Aug 26th</div>
		<div class="cell">Mon—Fri</div>
		<div class="cell">10am—6pm</div>
		<div class="cell">Full</div>
	</div>
	<div class="row">
		<div class="cell">Sept 18t—Nov 26th</div>
		<div class="cell">Mon—Fri</div>
		<div class="cell">10am—12pm</div>
		<div class="cell">$7,995</div>
	</div>
	<div class="row">
		<div class="cell">Jan 9th—Mar 3rd</div>
		<div class="cell">Mon—Fri</div>
		<div class="cell">10am—6pm</div>
		<div class="cell">$5,995<span class="fa fa-bolt" aria-hidden="true"></span><span class="sr-only">Early bird price</span></div>
	</div>
</div>