---
notes: Make sure to include all accessible markup when including icons in the tables. If you want a row to show crossed-out data, give it the `.row-disabled` class.
---

<div class="multi-column-table">
	<div class="row row-disabled">
		<div class="cell">July 4th—Aug 26th</div>
		<div class="cell">Apply by June 1st</div>
		<div class="cell">Full</div>
	</div>
	<div class="row">
		<div class="cell">Sept 18th—Nov 26th</div>
		<div class="cell">Apply by Aug 3rd</div>
		<div class="cell">$7,995</div>
	</div>
	<div class="row">
		<div class="cell">Jan 9th—Mar 3rd</div>
		<div class="cell">Apply by Dec 3rd</div>
		<div class="cell">$5,995<span class="fa fa-bolt" aria-hidden="true"></span><span class="sr-only">Early bird price</span></div>
	</div>
	<div class="row">
			{{> tables.table-footnote}}
	</div>
</div>