<div class="two-col-table">
	<div class="row">
		<h4 class="cell cell-header">10am — Class</h4>
		<div class="cell cell-content">Teacher guided lectures, live coding, and demos. Take a seat and yu absorb some knowledge!</div>
	</div>
	<div class="row">
		<h4 class="cell cell-header">10am — Class</h4>
		<div class="cell cell-content">Teacher guided lectures, live coding, and demos. Take a seat and absorb some knowledge!</div>
	</div>
	<div class="row">
		<h4 class="cell cell-header">10am — Class</h4>
		<div class="cell cell-content">Teacher guided lectures, live coding, and demos. Take a seat and absorb some knowledge!</div>
	</div>
	<div class="row">
		<h4 class="cell cell-header">10am — Class</h4>
		<div class="cell cell-content">Teacher guided lectures, live coding, and demos. Take a seat and absorb some knowledge!</div>
	</div>
</div>
