---
notes: Needs `.alumni-profile-with-story` class for hover state. Image container must include `.img-rounded` for rounded look.
---
<div class="alumni-profile alumni-profile-with-story">
	<a href="http://decodemtl.com" class="flex-container">
		<svg class="triangle" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="35" height="51" viewBox="-0.521 0.479 35 51">
		  <path class="triangle-bg" d="M34 26L0 51V1z"/>
		  <g class="triangle-lines" stroke-width="1" stroke-linecap="round">
		    <path class="triangle-line-left" d="M0 51V1"/>
		    <path class="triangle-line-bottom-right" d="M34 26L0 51"/>
		    <path class="triangle-line-top-right" d="M0 1l34 25"/>
		  </g>
		</svg>
		<div class="alumni-profile-pic img-rounded">
			<img src="../../assets/toolkit/images/profile-team-ziad.jpg" alt="">
		</div>
		<div class="alumni-profile-details">
			<h4 class="alumni-profile-name">Student Name</h4>
			<span class="text-subtle">Front-end Developer</span>
			<span class="">Salesforce</span>
			<div class="link-more text-body-small show-on-large-screen">
				<span class="faux-link" href="#">Read the story<span class="fa fa-caret-right" aria-hidden="true"></span></span>
			</div>
		</div>
	</a>
	<div class="alumni-profile-excerpt">
		<p>Katrina was bold enough to take the Bootcamp at DecodeMTL. It paid off — she scored a position as a Frontend Developer.</p>
	</div>
	<div class="link-more text-body-small hide-on-large-screen">
		<a href="#">Read the story<span class="fa fa-caret-right" aria-hidden="true"></span></a>
	</div>
</div><!-- /.alumni-profile -->