---
notes: icons should always be svg for clean scaling.
---
<div class="img-text-container icon-block">
	<div class="icon">
		<img src="../../assets/toolkit/images/icons/icon-api.svg" alt="">
	</div>
	<div class="img-text-details icon-details">
		<h4>Something title</h4>
		<p>Mauris non tempor quam, et lacinia sapien. Mauris accumsan eros eget libero posuere vulputate. Etiam elit elit, elementum sed varius at, adipiscing vitae est. Sed nec felis pellentesque, lacinia dui sed, ultricies sapien. Pellentesque.</p>
	</div>
</div>