---
notes: picture should have 1:1 ratio (square). Ideally no smaller than 200px wide to ensure sharpness on retina. Color images will be turned to grayscale automagically.
---
<div class="profile-block-slim">
	<div class="profile-block-slim-pic">
		<img src="../../assets/toolkit/images/profile-team-ziad.jpg" alt="">
	</div>
	<div class="profile-block-slim-details">
		<span class="text-body-small">Student Name</span>
		<span class="text-body-small text-subtle">Front-end Developer</span>
	</div>
	<div class="profile-block-slim-logo">
		<img src="../../assets/toolkit/images/partner-logos/partner-logo-autodesk.png" alt="">
	</div>
</div><!-- /.profile-block-slim -->