---
title: Overview | DecodeMTL Styleguide
fabricator: true
---

<h1>Overview</h1>

<p>This UI toolkit is a highly-modular design system for rapid web page development of DecodeMTL. It contains different materials that can be assembled into more complex page layouts.</p>

<p>This guide contains real working examples, code snippets, documentation, and style guidelines.</p>

<h4>Using The Styleguide</h4>

<p>Use the menu on the left to navigate through the different elements of the styleguide.</p>

<ul>
	<li><p>The <code>Typography</code> and <code>Components</code> sections make up the most basic buidling blocks of the system.</p></li>
	<li><p>The <code>Modules</code> sections use the components to create modulatr blocks which can be dropped within nay page layout.</p></li>
	<li><p>The <code>Footers</code> and <code>Navigation</code> sections are unique site-wide modules.</p></li>
	<li><p>The <code>Pages</code> section offers a complete view of the combined elements.</p></li>
</ul>

<h4>Documentation</h4>

<p>See the <code>Docs</code> section for assets and markup info.</p>

<h2>Colors</h2>

{{#each colors}}
	<h4>{{@key}}</h4>
	<div class="f-color-chips">
	{{#each this}}
		<div class="f-color-chip">
			<div class="f-color-chip__name">{{@key}}</div>
			<div class="f-color-chip__color">
				{{#each this}}
					<span>{{this}}</span>
				{{/each}}
			</div>
		</div>
	{{/each}}
	</div>
{{/each}}

<h2>Typography</h2>

<p>Type is <a href="https://www.fonts.com/font/linotype/din-next">Din Next</a> and is being served from <a href="fonts.com">fonts.com</a>. There are four fonts in use:</p>

<div style="font-size: 1.2rem; font-family:'DIN Next W01 Regular';"> DIN Next™ W01 Regular</code> </div>
<div style="font-size: 1.2rem; font-family:'DIN Next W01 Italic';"> DIN Next™ W01 Italic </div>
<div style="font-size: 1.2rem; font-family:'DIN Next W01 Medium';"> DIN Next™ W01 Medium </div>
<div style="font-size: 1.2rem; font-family:'DIN Next W01 Bold';"> DIN Next™ W01 Bold </div>
<div style="font-size: 1.2rem; font-family:'DINNextW01-CondensedBol';"> DIN Next™ W01 Condensed Bold </div>
