---
notes: yoy! 
---

<div class="wrapper">
	<div class="module">
		<article class="entry module-boxed" itemscope="" itemtype="http://schema.org/CreativeWork">
			<header class="entry-header">
				<h1 class="entry-title" itemprop="headline">Etiam porta sem malesuada magna mollis euismod.</h1>
				<div class="entry-meta">
					<span class="entry-author">By <a href="" itemprop="author" itemscope="" itemtype="http://schema.org/Person">John Smith</a> on <time class="entry-date" itemprop="datePublished" datetime="">01/22/17</time></span>
					<span class="entry-categories">Posted in <a href="#">Categorie 1</a>, <a href="#">Categorie 2</a></span>
				</div><!-- /.entry-meta -->
			</header><!-- /.entry-header -->
			<figure class="featured-image">
				<img src="https://unsplash.it/1200/300?image=945" alt="">
			</figure><!-- /.featured-image -->
			<div class="entry-content" itemprop="text">
				<p>Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget <a href="#">lacinia odio sem</a> nec elit. Curabitur blandit tempus porttitor. Nullam id dolor id nibh ultricies vehicula ut id elit. Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Vestibulum id ligula porta felis euismod semper. Sed posuere consectetur est at lobortis.</p>

				<blockquote><p>Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Maecenas sed diam eget risus varius blandit sit amet non magna.</p></blockquote>

				<p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Donec sed odio dui.</p>

				<h3>Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor.</h3>

				<p>Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Curabitur blandit tempus porttitor. Nullam id dolor id nibh ultricies vehicula ut id elit. Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Vestibulum id ligula porta felis euismod semper. Sed posuere consectetur est at lobortis.</p>
			</div><!-- .entry-content -->
		</article><!-- /.entry -->
	</div><!-- /.module -->
</div><!-- /.wrapper -->