---
notes: This component is used mostly to limit line length on full width text. The entire component can be placed into a module. See the <a class="fb-link" href="https://asset1.basecamp.com/2479188/projects/12140804/attachments/241003830/6291f1697ce4debde98afe557d6c0c880010/original/160729-wework.png">something about classrooms</a> example. 
---
<div class="full-with-content">
	<h4>Full width content</h4>
	<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quasi reiciendis molestias officia, fugit voluptatum nam reprehenderit sequi, quisquam ad voluptatem illum cupiditate aperiam! Soluta laboriosam perspiciatis accusantium, aspernatur expedita veniam laborum tenetur cupiditate alias, sit repudiandae veritatis doloribus ad enim magnam ducimus illo! Reprehenderit animi iste debitis odio, quod ad.</p>
</div><!-- /.full-with-content -->