---
notes: This is a generic layout for full width content. See the <a class="fb-link" href="https://asset1.basecamp.com/2479188/projects/12140804/attachments/241003830/6291f1697ce4debde98afe557d6c0c880010/original/160729-wework.png">something about classrooms</a> example. Any header can be used, but
---
<div class="full-with-content">
	<h4>Full width content</h4>
	<p class="text-measure">This is an example of full width content. It can be used in any module that requires full width text. The <code>&lt;p&gt;</code> tags must have the <code>.text-measure</code> helper class in order to limit line-length.</p>
</div><!-- /.full-with-content -->