---
notes: Generic one half columns. Stacking these within the same module and adding <code>.alternating</code> class to the row-containers will create an alternating pattern. (see employers special grads module for example)
---
<div class="row-container one-half-container">
	<div class="one-half-content">
		<h4>One half</h4>
		<p>You can put any kind of content withing these containers. This example use text and an image, but it could easily be any kind of components.</p>
	</div>
	<div class="one-half-content">
		<h4>One half</h4>
		<img src="https://unsplash.it/900/540?image=0" alt="">
	</div>
</div><!-- /.row-container -->