---
notes: Generic two third column. Stacking these within the same module and adding <code>.alternating</code> class to the row-containers will create an alternating pattern.
---
<div class="row-container row-two-third-container">
	<div class="two-third-content">
		<h4>Two Third</h4>
		<p>You can put any kind of content withing these containers. This example use text and an image, but it could easily be any kind of components.</p>
	</div>
	<div class="one-third-content">
		<h4>One third</h4>
		<img src="https://unsplash.it/600/360?image=0" alt="">
	</div>
</div><!-- /.row-container -->