// Blog page title -------------
.blog-page-header {
	.module-title {
		margin-bottom: 1em;
	}

	.stand-out {
		color: $red;
	}
}

// Single post ----------------
.entry-header {
	margin-bottom: 2rem;
}

.entry-title {
	text-transform: uppercase;
}

.entry-meta {
	color: $midgrey;

	@include breakpoint(mintablet) {
		display: flex;
		flex-flow: row wrap;
	}

	a {
		border: none;
	}
}

.entry-author,
.entry-categories {
	display: block;
}

.entry-categories {
	@include breakpoint(mintablet) {
		margin-left: auto;
		padding-left: 3%;
	}
}

.featured-image {
	margin: 0;

	img {
		display: block;
	}
}

.entry blockquote {
	font-size: 1.3em;
	border-left: 3px solid $grey;
	padding-left: 1em;
	margin: 2em 0;
	color: $hardgrey;

	@include breakpoint(mintablet) {
		border-width: 5px;
		margin: 2em;
	}
}

.author-box {
	border-top: none;
}

// Featured content module ------------
.featured-module .wrapper {
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
}

.featured-module-title {
	margin-top: 0;
	width: 100%;
}

.featured-entry {
	background: #fff;
	border: 1px solid $grey;
	margin: 2em 0;
	flex-grow: 1;
	display: flex;
	flex-flow: column nowrap;

	@media (min-width: 58.75em) {
		flex: 0 0 31%;
		margin: 0;
	}

	.featured-image {
		margin-top: auto;
	}
}

.featured-entry-header {
	margin-bottom: 0.2em;
	padding: 1em;

	@media (max-width: 58.75em) {
		font-size: 1.3em;
	}
}

.featured-entry-title {
	margin-top: 0;

	@media (max-width: 58.75em) {
		font-size: 1.1em;
	}
}

.featured-entry-meta {
	font-size: 0.8em;
}
