// Media -----------
img,
video,
svg {
    max-width: 100%;
}

// Lists ----------
ul,
ol {
	padding: 0;
	list-style-position: inside;
}

// Social icons
.social-list {
	list-style: none;
	display: flex;
	li a {
		font-size: 1.8rem;
		margin-right: 0.6em;
	}
}

// petal bullets
.icon-list {
	list-style: none;
	padding-left: 1.2em;
	font-size: 1.4rem;
	line-height: 2;
	li {
		position: relative;
		&:before {
		  content:"";
		  height:100%;
		  width:0.7em;
		  margin-left:-1.2em;
		  background-image:url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="3.5 7.5 20 20"><path d="M14.74 8.242c4.253-2.727 8.74 2.672 5.146 6.335-1.034 1.053-3.22 1.56-4.993.4-1.49-.968-3.237-.492-4.08.49-1.343 1.566-.792 3.225.025 4.02.874.846 2.367 1.575 4.037.502 2.155-1.387 4.454-.49 5.43.86 3.205 4.434-2.638 9.113-6.282 5.16-1.62-1.757-8.252-8.557-8.252-8.557s7.724-8.172 8.97-9.21" fill="#212121"/></svg>');
		  position: absolute;
		  top: 46%;
		  transform: translateY(-50%);
		  background-position:center;
		  background-repeat:no-repeat;
		}
	}
}

// Accessability --------
.visually-hidden {
	@include screen-reader;
}

// Decode main logo ----------
.decode-logo {
	.mtl,
	.petal-special {
		fill: $red;
	}
	.decode,
	.petal-generic {
		fill: $black;
	}
}
.decode-logo.reversed {
	.mtl,
	.petal-special {
		fill: $red;
	}
	.decode,
	.petal-generic {
		fill: $white;
	}
}
// Decode badge logo ----------
.decode-logo-badge {
	.badge-background {
		fill:$black;
	}
	.badge-petal-generic {
		fill: $white;
	}
	.badge-petal-special {
		fill: $red;
	}
}
// Decode badge logo ----------
.decode-badge-reversed {
	.petal-generic {
		fill: $white;
	}
	.petal-special {
		fill: $red;
	}
}