// Media -----------
img,
video,
svg {
    max-width: 100%;
}

// Lists ----------
ul,
ol {
	padding: 0;
	list-style-position: inside;
}

.social-list {
	list-style: none;
	display: flex;
	li a {
		font-size: 1.8rem;
		margin-right: 0.6em;
	}
}

// Accessability --------
.visually-hidden {
	@include screen-reader;
}

// Decode main logo ----------
.decode-logo {
	.mtl,
	.petal-special {
		fill: $red;
	}
	.decode,
	.petal-generic {
		fill: $black;
	}
}
.decode-logo.reversed {
	.mtl,
	.petal-special {
		fill: $red;
	}
	.decode,
	.petal-generic {
		fill: $white;
	}
}
// Decode badge logo ----------
.decode-logo-badge {
	.badge-background {
		fill:$black;
	}
	.badge-petal-generic {
		fill: $white;
	}
	.badge-petal-special {
		fill: $red;
	}
}
// Decode badge logo ----------
.decode-badge-reversed {
	.petal-generic {
		fill: $white;
	}
	.petal-special {
		fill: $red;
	}
}