// ================================
// Media
// ================================
img,
video,
svg {
    max-width: 100%;
}

// ================================
// Lists
// ================================
ul,
ol {
	padding: 0;
	list-style-position: inside;
}
// Social icons list ---------
.social-list {
	list-style: none;
	display: flex;
	li a {
		font-size: 1.8rem;
		margin-right: 0.6em;
	}
}
// petal icon list ------
.petal-icon-list {
	list-style: none;
	margin-left: 1.7em;
	li {
		font-size: 1.4rem;
		position: relative;
		margin: 0.7em 0;
		.petal-icon {
		  position: absolute;
		  top: 54%;
		  transform: translateY(-50%);
		  height:100%;
		  left: -1.6em;
		  width: 1.7em;
		  font-size: 0.8em;
			&:before {
			  content:$icon-petal;
			  font-family: $font_decode;
			  display: inline-block; // allows rotation
			  @include transition-all;
			}
		}
	}
}
// faq list -------------
.accordion-list {
  .question {
    cursor: pointer;
  }
  .answer {
    display: none;
    font-size: 0.9rem;
    margin-bottom: 2em;
  }
  .rotate:before {
  transform: rotate(-90deg);
  }
}
// ================================
// Accessability
// ================================
// Helper class--------------------
.visually-hidden {
	@include screen-reader;
}

// ================================
// Logo
// ================================

// Decode main logo ---------------
.decode-logo {
	.mtl,
	.petal-special {
		fill: $red;
	}
	.decode,
	.petal-generic {
		fill: $black;
	}
}
// Decode main logo reversed ------
.decode-logo.reversed {
	.mtl,
	.petal-special {
		fill: $red;
	}
	.decode,
	.petal-generic {
		fill: $white;
	}
}
// Decode badge logo --------------
.decode-logo-badge {
	.badge-background {
		fill:$black;
	}
	.badge-petal-generic {
		fill: $white;
	}
	.badge-petal-special {
		fill: $red;
	}
}
// Decode badge logo reversed -----
.decode-badge-reversed {
	.petal-generic {
		fill: $white;
	}
	.petal-special {
		fill: $red;
	}
}