// ===================
// Site Footer
// ===================
.site-footer {
	background:$black;
	color: $midgrey;
	padding: $module-vert-pd 0;
	.decode-logo {
		width: 40%;
		height: auto;
		margin-bottom: calc(#{$module-inner-vert-spacing} * 0.5);
	}
}
.footer-content {
	display: flex;
	flex-flow: row wrap;
}
.footer-contact {
	flex: 1 1 60%;
	padding-right: 6em;
}
.footer-nav {
	flex: auto;
}

// footer contact details ------
.footer-contact-details {
	list-style: none;
	margin-bottom: $module-inner-vert-spacing;
	li {
		margin-bottom: 0.3em;
	}
	.fa-envelope {
		font-size: 0.8em;
		margin-right: 0.485714em;
	}
}
// footer nav -----------
.footer-nav {
	ul {
		list-style: none;
	}
}

// ===================
// Site Credits
// ===================
.site-credits {
	background:$darkgrey;
	color:darken($midgrey, 20%);
	font-size: 0.8rem;
	a {
		color: inherit;
		&:after {
			content: "//";
			display: inline-block;
			margin: 0 0.5em;
		}
		&:last-child:after {
			content:"";
		}
		&:hover {
			color: $lightgrey;
		}
		&:hover:after {
			color:darken($midgrey, 20%);
		}
	}
}
.site-credits-container {
	display: flex;
	flex-flow: row wrap;
}
.copyright, .terms {
	flex:auto;
}
.copyright {
}
.terms {
	text-align: right;
}