// input defaults
input,
textarea {
	border: 0;
	background:$lightgrey;
	padding: 1em;
	margin: 0.5em 0;
}
// buttons
button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
	border: 0;
	@include btn-color();
	cursor: pointer;
}

// ===================
// Footer Optin Form
// ===================
.footer-optin {
	display: flex;
	flex-flow: column wrap;
	input[type="email"] {
		flex: 1 1 auto;
		background:$midgrey;
		outline: none;
		padding: 0.5em;
		&:focus {
			background:$lightgrey;
		}
		&::placeholder {
			color: $black;
			opacity: 1;
		}
	}
	input[type="submit"] {
		flex: 0 0 22%;
		padding: 0.5em;
	}
	@include breakpoint(minlaptop) {
		flex-flow: row wrap;
		justify-content: space-between;
	}
	@include breakpoint(mindesktop) {
		max-width: 80%;
	}
}

// ===================
// Contact form
// ===================
.contact-form {
	display: flex;
	flex-flow: column wrap;
	textarea {
		min-height: 10rem;
	}
	.optin-checkbox {
		margin: 1rem 0;
	}
	.foot-note {
		font-family: $font_italic;
		margin: 1rem 0;
		a {
			color: inherit;
			text-decoration: underline;
			&:hover {
				color: $black;
			}
		}
	}
	@include breakpoint(mintablet) {
		flex-flow: row wrap;
		justify-content: space-between;
		input:not([type="submit"]) {
			flex: 0 1 calc(50% - 0.5em);
		}
		textarea {
			flex-basis: 100%;
		}
		.foot-note {
			text-align: right;
			flex-basis: 100%;
		}
		input[type="submit"],
		.optin-checkbox {
			margin-left: auto;
		}
	}
}

// ===================
// Optin form
// ===================
.optin-form {
	display: flex;
	flex-flow: column wrap;
	.foot-note {
		font-family: $font_italic;
		margin: 1rem 0;
	}
	@include breakpoint(mintablet) {
		flex-flow: row wrap;
		justify-content: space-between;
		input:not([type="submit"]) {
			flex: 1 1 auto;
			margin-right: 1rem;
		}
	}
}