// =====================
// Modules general
// =====================
.module {
	margin-bottom: 6rem;
}
// modules with bg images
.module-bg-img {
	padding: 3em;
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	background-color: #054851;
	.module-title {
		color: $grey;
		margin-top: 0;
	}
}
// Module in white boxes
.module-boxed {
	background: #FFF;
	border: 1px solid $grey;
	padding: 3em;
}
// Module in dark boxes
.module-boxed-dark {
	background: $black;
	color: $midgrey;
}
// Two cta buttons 
.cta-double {
	.btn-large:not(:last-child) {
		margin-right: 1em;
	}
}
// Module footers
.module-footer {
	text-align: center;
	padding: 1em 0;
}

// ========================
// Tuition & Dates Module
// ========================
.tuition-dates {
	.module-bg-img {
	background-image: url('../images/module-bg-students-at-work.jpg');
	}
	.foot-note {
		text-align: right;
		color: $grey;
		margin-bottom: 0;
		@include breakpoint(tablet) {
			text-align: left;
		}
	}
	// Tuition dates table ---------
	.multi-column-table {
		background: transparentize($white, 0.1);
	}
	.row {
		@include breakpoint(mintablet) {
			padding: 1.2em;
		}
		&:not(:last-child) {
			@include breakpoint(mintablet) {
				border-color: $grey;
			}
			@include breakpoint(phablet) {
				border-color: $grey;
			}
		}
	}
	.cell {
		@include breakpoint(mintablet) {
			&:first-child {
				flex-basis: 30%;
			}
		}
		&:last-child,
		&:first-child {
			font-family: $font-bold;
		}
	}
}
// ========================
// Daily Schedule Module
// ========================
.course-schedule {
	color: $grey;
	.module-bg-img {
		background-image: url('../images/module-bg-wework-common.jpg');
	}
	// Schedule table
	.two-col-table {
		.row {
			border-color: $blue;
		}
	}
}
// ========================
// Student Project Module
// ========================
.student-project {
	padding: calc(#{$module-vert-pd} / 2) 0;
	h4 {
		text-align: center;
		margin-bottom: $module-vert-pd;
	}
	.project-title {
		font-family: $font_bold;
	}
}
// container for image & details
.student-project-content {
	display: flex;
	flex-flow: column nowrap;
	@include breakpoint(laptop) {
		max-width: 500px;
		margin: auto;
	}
	@include breakpoint(minlaptop) {
		flex-flow: row nowrap;
		justify-content: space-between;
	}
}
// slider image
.student-project-image {
	display: flex;
	align-items: center;
	max-width: 500px;
	img {
		max-width: 100%;
	}
}
// container for slider controls & caption
.student-project-details {
	display: flex;
	flex-flow: column nowrap;
	justify-content: space-between;
	flex: 0 1 38%;
}
// controls
.slider-controls {
	display: flex;
	align-items: baseline;
	justify-content: space-between;
	margin: $module-vert-pd 0;
	padding: 0.5em 0;
	border-top: 1px solid lighten($darkgrey, 5%);
	border-bottom: 1px solid lighten($darkgrey, 5%);
	line-height: 0;
	@include breakpoint(laptop) {
		margin: calc(#{$module-vert-pd} / 2) 0;
	}
	@include breakpoint(minlaptop) {
		margin: 0;
		order: 1;
	}
	.slider-current {
		font-family: $font_cond_bold;
		font-size: 2rem;
	}
}