// =====================
// Modules general
// =====================
.module {
	margin-bottom: 6rem;
}
// modules with bg images
.module-bg-img {
	padding: 3em;
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	background-color: #054851;
	.module-title {
		color: $grey;
		margin-top: 0;
	}
}
// Two cta buttons 
.cta-double {
	.btn-large:not(:last-child) {
		margin-right: 1em;
	}
}
// Module footers
.module-footer {
	text-align: center;
	padding: 1em 0;
}

// ========================
// Tuition & Dates Module
// ========================
.tuition-dates {
	.module-bg-img {
	background-image: url('../images/module-bg-students-at-work.jpg');
	}
	.foot-note {
		text-align: right;
		color: $grey;
		margin-bottom: 0;
		@include breakpoint(tablet) {
			text-align: left;
		}
	}
	// Tuition dates table ---------
	.multi-column-table {
		background: transparentize($white, 0.1);
	}
	.row {
		@include breakpoint(mintablet) {
			padding: 1.2em;
		}
		&:not(:last-child) {
			@include breakpoint(mintablet) {
				border-color: $grey;
			}
			@include breakpoint(phablet) {
				border-color: $grey;
			}
		}
	}
	.cell {
		@include breakpoint(mintablet) {
			&:first-child {
				flex-basis: 30%;
			}
		}
		&:last-child,
		&:first-child {
			font-family: $font-bold;
		}
	}
}
// ========================
// Daily Schedule Module
// ========================
.course-schedule {
	color: $grey;
	.module-bg-img {
		background-image: url('../images/module-bg-wework-common.jpg');
	}
	// Schedule table
	.two-col-table {
		.row {
			border-color: $blue;
		}
	}
}

// ========================
// Curriculum Module
// ========================
.module .icon-block:last-child {
	padding-bottom: 0;
}