html {
	height: 100%;

	&.f-menu-active {
		overflow: hidden;

		@media (min-width: 60em) {
			overflow: auto;
		}
	}
}

body {
	margin: 0;
	position: relative;

	.f-menu-active & {
		width:100%;
		height: 100%;
		overflow: hidden;

		@media (min-width: 60em) {
			overflow: auto;
			height: auto;
		}
	}
}

.f-container {
	@include clearfix;
	@include border-box;
	position: relative;
	padding: 0 1em;
	z-index: 0;
	min-height: 100vh;
	padding-bottom: 10vh;

	.f-menu-active & {
		transform: translate($menu-width, 0);

		@media (min-width: 60em) {
			margin-left: $menu-width;
			transform: translate(0, 0);
		}
	}

}

// Extras
.main-content.docs {
	font-size: 0.9rem;
}

#modals .modal {
	position: relative;
	display: block;
}
#modals .modal-dark {
	color: $grey;
}
#miscellaneous .video-controls {
	position: static;
	transform: none;
	}
.fb-link {
	color: $red;
	text-decoration: none;
	&:hover {
		text-decoration: underline;
	}
}
.f-item-preview > .module-bg-img {
	background-image: url('../../../assets/toolkit/images/module-bg-students-at-work.jpg');
}
.f-item-preview .module-quote .module-bg-img {
	background-image: url('../../../assets/toolkit/images/module-bg-about-quote.jpg');
}
.f-item-preview .course-schedule .module-bg-img {
	background-image: url('../../../assets/toolkit/images/module-bg-wework-common.jpg');
}
.f-item-preview .tuition-dates .module-bg-img {
	background-image: url('../../../assets/toolkit/images/module-bg-students-at-work.jpg');
}
.f-item-preview .loader-container {
	position: relative;
	padding: 0;
	justify-content: flex-start;
}