<!doctype html>
<html lang="">
<head>

	<meta charset="utf-8">
	<meta http-equiv="x-ua-compatible" content="ie=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<title>{{title}}</title>

	{{#if fabricator}}<link rel="stylesheet" href="{{baseurl}}/assets/fabricator/styles/f.css">{{/if}}

	<!-- Fonts.com fonts -->
	<script type="text/javascript" src="//fast.fonts.net/jsapi/7adea19c-f46d-4bc4-9b49-417fc6633b72.js"></script>
	<!-- /Fonts.com fonts -->

	<!-- FontAwesome -->
	<script src="https://use.fontawesome.com/071daf9e4e.js"></script>
	<!-- /FontAwesome -->

	<!-- toolkit styles -->
	<link rel="stylesheet" href="{{baseurl}}/assets/toolkit/styles/toolkit.css">
	<!-- /toolkit styles -->

	<!-- Favicons -->
	<link rel="apple-touch-icon" sizes="180x180" href="{{baseurl}}/assets/toolkit/images/favicons/apple-touch-icon.png">
	<link rel="icon" type="image/png" href="{{baseurl}}/assets/toolkit/images/favicons/favicon-32x32.png" sizes="32x32">
	<link rel="icon" type="image/png" href="{{baseurl}}/assets/toolkit/images/favicons/favicon-16x16.png" sizes="16x16">
	<link rel="manifest" href="{{baseurl}}/assets/toolkit/images/favicons/manifest.json">
	<link rel="mask-icon" href="{{baseurl}}/assets/toolkit/images/favicons/safari-pinned-tab.svg" color="#5bbad5">
	<meta name="theme-color" content="#ffffff">
	<!-- /Favicons -->

</head>
<body>

	{{#if fabricator}}
		{{> f-icons}}
		{{> f-menu}}
		<div class="f-container">
			{{> f-control-bar}}
	{{/if}}

	{{> site-nav}}
	<main class="main-content" role="main">
		{% body %}
	</main>
	{{> site-footer}}
	{{> site-credits}}

	<!-- jquery -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
	<!-- /jquery -->
	
	<!-- toolkit scripts -->
	<script src="{{baseurl}}/assets/toolkit/scripts/toolkit.js"></script>
	<!-- /toolkit scripts -->

	{{#if fabricator}}
		</div>
	<script src="{{baseurl}}/assets/fabricator/scripts/f.js"></script>
	{{/if}}


</body>
</html>
